.reveal section img.nobb {
    border: 0;
    box-shadow: none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    max-height: 100%;
    max-width: 100%;
}

#periscope-meerkat {
    border:0;
    background:none;

}

#phyArchitecture {
    border:0;
    background:none;
    box-shadow:none;
    max-height: 100%;
    max-width: 100%;
}

#architecture {
    border:0;
    background:none;
    box-shadow:none;
    max-height: 100%;
    max-width: 100%;
}

#policiesImg{
    border:0;
    background:none;
    box-shadow:none;
    max-height: 100%;
    max-width: 100%;
}

#controlflow{
    border:0;
    background:none;
    box-shadow:none;
    max-height: 85%;
    max-width: 85%;
}

#requestImg{
    border:0;
    background:none;
    box-shadow:none;
    width: 75%;
}

.left {
    float: left;
    width: 50%;
    font-size: 0.7em !important;
}

.smfont {
    font-size: 0.7em !important;
}
